<div class="flex col-12 justify-content-center">
  <h2>{{title}}</h2>
</div>
<section id="form">
  <form (ngSubmit)="onSubmit()" #formTask="ngForm">
    <div class="col-12">
      <span class="p-float-label">
        <textarea pInputTextarea id="float-input" rows="12" class="w-full" name="description"
          [(ngModel)]="task.description" required="true"  minlength="5" maxlength="600"></textarea>
        <label for="float-input">Digite aqui uma tarefa que deseja salvar!</label>
      </span>
    </div>
    <div class="grid flex flex-wrap justify-content-center ">
      <div class="col-12 md:col-6 lg:col-4">
        <button pButton pRipple icon="pi pi-save" [disabled]="formTask.invalid"
         class="p-button-rounded p-button-success w-full" type="submit">
          Salvar
        </button>
      </div>

      <div class="col-12 md:col-6 lg:col-4">
        <button pButton pRipple icon="pi pi-replay" class="p-button-rounded p-button-secondary w-full"
          [routerLink]="['']">
          Cancelar
        </button>
      </div>
    </div>
  </form>
</section>