   <div class="pb-20 bg-surface-0 dark:bg-surface-950">
            <div class="bg-surface-900 text-surface-100 py-4 px-6 lg:px-20 flex justify-between items-center flex-wrap">
                <div class="font-bold">🔥 Hot Deals!</div>
                <div class="inline-flex gap-1 items-center">
                    <span class="hidden lg:flex leading-normal">Libero voluptatum atque exercitationem praesentium provident odit.</span>
                    <a class="text-surface-0 underline font-bold" href="#">Learn More</a>
                </div>
              
            </div>
        </div>


<section>
  <main class="container">
    <router-outlet></router-outlet>
    <!-- <app-footer></app-footer> -->
  </main>
</section>


<!-- <footer class="mt-2 p-2 text-center">
  <a class="no-underline" href="https://thiagolopesdev.com.br" target="_blank">thiagolopesdev.com.br</a>
</footer> -->

<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"
  rejectButtonStyleClass="p-button-text"></p-confirmDialog>