/* You can add global styles to this file, and also import other style files */
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

h2 {
    color: #282e38;
}


.margin-left {
    margin-left: 5px !important;
}

.p-inputtextarea {
    width: 100%;
}